<div class="container mx-auto my-3 p-3 cp-content">
  <!--标题-->
  <div class="container mx-auto my-2 p-2 text-center w-75 cp-title">
    <h1>教学改革专栏</h1>
  </div>

  <!--搜索栏-->
  <div class="container mx-auto my-2 p-2 cp-search-bar">
    <div class="row">
      <div class="col-3 offset-7">
        <form class="form-inline" (ngSubmit)="searchByTitle()">
          <div class="form-group w-75">
            <input type="text" class="form-control-sm" placeholder="请输入标题"
                   required
                   [(ngModel)]="searchParams.field" name="title">
          </div>
          <button type="submit" class="btn-sm btn-primary"><span class="fa fa-search"></span></button>
        </form>
      </div>
    </div>
  </div>

  <!--卡片组-->
  <div class="container mx-auto my-2 p-2 w-75 cp-data-list">
    <div class="card-group mx-auto">
      <ng-container *ngFor="let column of currentPage?.content">
        <div class="card mx-auto my-1 p-1">
          <div class="card-body">
            <h3 class="card-title">
              {{column.title}}
            </h3>

            <p class="card-subtitle">
              <span class="badge badge-secondary">#{{column.id}}</span>
              <span class="badge badge-secondary">作者：{{column.author}}</span>
              <span class="badge badge-secondary">发布时间：{{column.publishTime | date:"yyyy-MM-dd hh:mm:ss"}}</span>
              <span class="badge badge-secondary">更新时间：{{column.updateTime | date:"yyyy-MM-dd hh:mm:ss"}}</span>
            </p>

            <p class="card-text" style="overflow:hidden;text-overflow:ellipsis;height:1.5em;">{{column.content}}</p>

            <!--当为管理员时才能添加和删除-->
            <div class="card-link text-center mx-auto">
              <button class="btn btn-success" *ngIf="currentUser?.role=='ADMIN'">创建</button>
              <a class="btn btn-info" routerLink="/reform-column/{{column.id}}">详情</a>
              <button class="btn btn-danger" (click)="delete(column.id)" *ngIf="currentUser?.role=='ADMIN'">删除</button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!--分页-->
  <app-pagination [type]="searchParams.type" [field]="searchParams.field" [currentPage]="currentPage"></app-pagination>
</div>

<!--增加数据模态框-->
<!--TODO （可以搁置）-->
