<!--分页栏-->
<div class="container mx-auto my-2 p-2 cp-pagination">
  <div class="row mx-auto my-1 p-1">
    <!--Page接口中的页面数最小为0，而传参时最小为1，显示时最小也为1-->
    <ul class="pagination mx-auto">
      <!--如果当前页是第一页，则启用上一页，并传入查询参数，否则禁用-->
      <li class="page-item"
          [class.disabled]="currentPage?.first">
        <a class="page-link"
           routerLink="./"
           [queryParams]="{type:type,field:JSON.stringify(field), page: currentPage?.number, size: currentPage?.size}">
          上一页
        </a>
      </li>

      <!--生成所有页数数组，遍历生成分页按钮，并传入查询参数-->
      <!--如果当前页数和遍历中的页数一致，则高亮该按钮，也允许点击-->
      <ng-container *ngFor="let i of range(0,currentPage?.totalPages)">
        <li class="page-item"
            [class.active]="currentPage?.number == i">
          <a class="page-link"
             routerLink="./"
             [queryParams]="{type:type,field:JSON.stringify(field), page: i + 1, size: currentPage?.size}">
            第{{i + 1}}页
          </a>
        </li>
      </ng-container>

      <!--如果当前页是最后一页，则启用下一页，并传入查询参数，否则禁用-->
      <li class="page-item"
          [class.disabled]="currentPage?.last">
        <a class="page-link"
           routerLink="./"
           [queryParams]="{type:type,field:JSON.stringify(field), page: currentPage?.number + 2, size: currentPage?.size}">
          下一页
        </a>
      </li>
    </ul>
  </div>
</div>
