<!--登录页面-->
<div class="container mx-auto my-3 p-3 cp-content" id="form">
  <!--标题-->
  <div class="container mx-auto my-2 p-2 text-center w-75 bg-light cp-title">
    <h1 class="display-4">登录表单</h1>
  </div>

  <!--登录表单-->
  <div class="container mx-auto my-2 p-2 w-75 bg-light cp-form">
    <form class="mx-auto my-1 p-1" (ngSubmit)="login()" #loginForm="ngForm">
      <div class="form-group">
        <label class="lead" for="username">用户名：</label>
        <input type="text" class="form-control bg-light" id="username" placeholder="请输入用户名"
               required
               [(ngModel)]="userLoginVo.username" name="username" #username="ngModel">
        <div class="alert alert-danger" [hidden]="username.valid || username.pristine">
          用户名不能为空！
        </div>
      </div>

      <div class="form-group">
        <label class="lead" for="password">密码：</label>
        <input type="password" class="form-control bg-light" id="password" placeholder="请输入密码"
               required
               [(ngModel)]="userLoginVo.password" name="password" #password="ngModel">
        <div class="alert alert-danger" [hidden]="password.valid || password.pristine">
          密码不能为空！
        </div>
      </div>

      <div class="form-group">
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" [(ngModel)]="userLoginVo.rememberMe" name="rememberMe">
            记住登录状态
          </label>
        </div>
        <div class="form-check-inline float-right">
          <a class="btn btn-link" routerLink="/reset-password">重置密码</a>
        </div>
      </div>

      <div class="form-group text-center mx-auto">
        <button type="submit" class="btn btn-primary">登录</button>
        <a class="btn btn-secondary" routerLink="/register">注册</a>
      </div>
    </form>
  </div>
</div>
