.logo {
  z-index: 1;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 10px;
  left: 550px;
  background: url(https://upload-images.jianshu.io/upload_images/15241626-9cb184772c9e67b2.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/500/format/webp) no-repeat;
  background-size: 100% 100%;
}
