<!--
    仅当用户权限为管理员时，显示“用户”导航，否则只显示除了“教师信息”之外的其他6项以及“我的账户”导航
    导航栏中内置登录/注册/注销按钮，点击跳转到相应的组件
    未登录不允许直接访问“学习专栏“和“我的账户”导航
    仅当用户权限为管理员时，允许编辑除了“用户”“动态”之外的其他6项，允许删除除了“用户”之外的其他7项
    非管理员的用户可以删除自己发布的动态
-->

<!--顶部导航栏-->
<div class="container mx-auto my-3 p-3" id="top">
  <nav class="navbar navbar-expand-sm mx-auto my-2 p-2" id="nav">
    <!--导航栏头部-->
    <div>
      <a class="logo" routerLink="/home"></a>
      <a class="logo1" routerLink="/home"></a>
    </div>
    <!--<div class="navbar-header">
      <a class="navbar-brand" routerLink="/home">
        <img src="../../../favicon.ico"/>
      </a>
    </div>-->

    <!--导航栏文本-->
    <span class="navbar-text mx-3">计算机科技门户网站</span>

    <!--页面导航的下拉菜单-->
    <button class="navbar-toggler" data-toggle="collapse" data-target="#nav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!--页面导航，如果是在手机上打开网页，这些会被折叠-->
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav" id="navsix">
        <li class="nav-item">
          <a class="nav-link" routerLink="/introduce">专业介绍</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dynamic">实时动态</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/teacher-team">教师队伍</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/development-column">专业发展</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reform-column">教学改革</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/study-column">学习专栏</a>
        </li>
        <!--<li class="nav-item" *ngIf="currentUser?.role == 'ADMIN'">
          <a class="nav-link" routerLink="/user">用户管理</a>
        </li>-->
      </ul>
    </div>

    <!--导航栏菜单：登录/注册，当用户未登录时显示-->
    <ul class="navbar-nav navbar-right" id="nav-login" *ngIf="!currentUser">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">
          <span class="fa fa-sign-in"></span>登录
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">
          <span class="fa fa-signing"></span>注册
        </a>
      </li>
    </ul>

    <!--导航栏菜单：我的账户/注销，当用户已登录时显示-->
    <ul class="navbar-nav navbar-right" id="nav-account" *ngIf="currentUser">
      <li class="nav-item">
        <a class="nav-link" routerLink="/account/{{currentUser?.username}}">
          <span class="fa fa-user"></span>
          {{currentUser?.username}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/logout">
          <span class="fa fa-sign-out"></span>注销
        </a>
      </li>
    </ul>
  </nav>
</div>
