#top {
  height: 140px;
  background: url(https://upload-images.jianshu.io/upload_images/15241626-392e20bfe81d0887.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1000/format/webp);
  position: relative;
}

#nav .nav {
  position: relative;
  top: 60px;
}

.nav-item:hover {
  font-size: 110%;
}

#nav ul {
  color: hsla(0, 0%, 100%, .65);
  background-image: linear-gradient(left, #293547, #37a4b3 25%, #377ccc 50%, #298096 75%, #132236);
  background-size: 200% 100%;
  animation: masked-animation 2s infinite linear;
}

@keyframes masked-animation {
  0% {
    background-position: 0 0
  }
  to {
    background-position: -100% 0
  }
}

.logo {
  z-index: 1;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 10px;
  left: 50px;
  background: url(https://upload-images.jianshu.io/upload_images/15241626-9cb184772c9e67b2.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/500/format/webp) no-repeat;
  background-size: 100% 100%;
}

.navbar {
  position: absolute;
  top: 90px;
  left: 180px;
}
