<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="info-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>教师队伍</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="按名字搜索……" (ionInput)="search($event)"></ion-searchbar>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="presentLevelPopover()">选择专业等级</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="presentSearchModal()">高级查询</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-container *ngFor="let teacherTeam of currentPage.content">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          {{teacherTeam.name}}
        </ion-card-title>
        <ion-card-subtitle>
          <ion-note slot="start">#{{teacherTeam.id}}</ion-note>
          <ion-note slot="start">专业级别：{{teacherTeam.professionLevel | enumText:"ProfessionLevel"}}</ion-note>
          <ion-note slot="start">创建时间：{{teacherTeam.createTime | localeDate}}</ion-note>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-text>
          {{teacherTeam.introduce | limitText}}
        </ion-text>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ion-grid>
    <ion-row>
      <ion-col align-self-end>
        <ion-button (click)="goPreviousPage()" [disabled]="currentPage.first">上一页</ion-button>
      </ion-col>
      <ion-col align-self-start="">
        <ion-button (click)="goNextPage()" [disabled]="currentPage.last">下一页</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
