<!--注册页面-->
<div class="container mx-auto my-3 p-3 cp-form" id="form">
  <!--标题-->
  <div class="container mx-auto my-2 p-2 text-center bg-light w-75 cp-title">
    <h1 class="display-4">注册表单</h1>
  </div>

  <!--注册表单-->
  <div class="container mx-auto my-2 p-2 w-75 bg-light cp-form">
    <form class="mx-auto my-1 p-1" (ngSubmit)="register()" #registerForm="ngForm" appUniqueUser>
      <div class="alert alert-danger" *ngIf="!isValid">
        参数有误！
      </div>

      <div class="alert alert-danger" *ngIf="registerForm.errors?.uniqueUser && (password.dirty || password.touched)">
        用户名 / 用户手机号码 / 用户邮箱已存在！
      </div>

      <div class="form-group">
        <label class="lead" for="username">用户名：</label>
        <input type="text" class="form-control bg-light" id="username" placeholder="请输入用户名"
               required pattern="[a-zA-Z]\\w{5,11}"
               [(ngModel)]="user.username" name="username" #username="ngModel">
      </div>

      <div class="alert alert-danger" *ngIf="username.invalid && (username.dirty || username.touched)">
        <div *ngIf="username.errors.required">用户名不能为空！</div>
        <div *ngIf="username.errors.pattern">用户名格式不正确！</div>
      </div>

      <div class="form-group">
        <label class="lead" for="password">密码：</label>
        <input type="password" class="form-control bg-light" id="password" placeholder="请输入密码"
               required pattern="\\w{6,16}"
               [(ngModel)]="user.password" name="password" #password="ngModel">
      </div>

      <!--用于参数验证。包括异步参数验证在内。-->
      <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
        <div *ngIf="password.errors.required">密码不能为空！</div>
        <div *ngIf="password.errors.pattern">密码格式不正确！</div>
      </div>

      <div class="form-group">
        <label class="lead" for="phoneNum">手机号码：</label>
        <input type="phone" class="form-control bg-light" id="phoneNum" placeholder="请输入手机号码"
               required
               [(ngModel)]="user.phoneNum" name="phoneNum" #phoneNum="ngModel">
      </div>

      <div class="alert alert-danger" *ngIf="phoneNum.invalid && (phoneNum.dirty || phoneNum.touched)">
        <div *ngIf="phoneNum.errors.required">手机号码不能为空！</div>
      </div>

      <div class="form-group">
        <label class="lead" for="email">邮箱：</label>
        <input type="email" class="form-control bg-light" id="email" placeholder="请输入邮箱"
               required
               [(ngModel)]="user.email" name="email" #email="ngModel">
      </div>

      <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
        <div *ngIf="email.errors.required">邮箱不能为空！</div>
      </div>

      <div class="form-group">
        <label class="lead" for="nickname">昵称：</label>
        <input type="nickname" class="form-control bg-light" id="nickname" placeholder="请输入昵称"
               required
               [(ngModel)]="user.nickname" name="nickname" #nickname="ngModel">
      </div>

      <div class="alert alert-danger" *ngIf="nickname.invalid && (nickname.dirty || nickname.touched)">
        <div *ngIf="nickname.errors.required">昵称不能为空！</div>
        <div *ngIf="nickname.errors.maxlength">昵称格式不正确！</div>
      </div>

      <div class="form-group">
        <!--遍历枚举，默认选中第一个-->
        <ng-container *ngFor="let gender of Gender | enumConsts;first as isFirst">
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input"
                     required
                     [(ngModel)]="user.gender" name="gender" [value]="gender" [checked]="isFirst">
              {{gender | enumText:"Gender"}}
            </label>
          </div>
        </ng-container>
      </div>

      <div class="form-group">
        <!--遍历枚举，但不包括管理员，默认选中第一个-->
        <ng-container *ngFor="let role of Role | enumConsts;first as isFirst">
          <div class="form-check-inline" *ngIf="role!=Role.Admin">
            <label class="form-check-label">
              <input type="radio" class="form-check-input"
                     required
                     [(ngModel)]="user.role" name="role" [value]="role" [checked]="isFirst">
              {{role | enumText:"Role"}}
            </label>
          </div>
        </ng-container>
      </div>

      <div class="form-group">
        <!--遍历枚举，默认选中第一个-->
        <label class="lead" for="profession">专业：</label>
        <select class="form-control" id="profession"
                required
                [(ngModel)]="user.profession" name="profession">
          <ng-container *ngFor="let profession of Profession | enumConsts;first as isFirst">
            <option [value]="profession" [selected]="isFirst">
              {{profession | enumText:"Profession"}}
            </option>
          </ng-container>
        </select>
      </div>

      <div class="form-group text-center mx-auto">
        <button type="submit" class="btn btn-primary">注册</button>
        <a class="btn btn-secondary" routerLink="/login">登录</a>
      </div>
    </form>
  </div>
</div>
