<!--注册页面-->
<div class="container m-auto p-3 bg-light cp-form" id="form">
  <!--标题-->
  <div class="container m-auto p-2 text-center cp-title">
    <h1>注册表单</h1>
  </div>

  <!--注册表单-->
  <div class="container m-auto p-2 mx-5 cp-form">
    <form class="mx-5" (ngSubmit)="register()" #registerForm="ngForm">
      <div class="form-group">
        <label for="username">用户名：</label>
        <input type="text" class="form-control bg-light" id="username" placeholder="请输入用户名"
               required
               [(ngModel)]="user.username" name="username" #username="ngModel">
        <div class="alert alert-danger" [hidden]="username.valid || username.pristine">
          用户名不能为空！
        </div>
      </div>

      <div class="form-group">
        <label for="password">密码：</label>
        <input type="password" class="form-control bg-light" id="password" placeholder="请输入密码"
               required
               [(ngModel)]="user.password" name="password" #password="ngModel">
        <div class="alert alert-danger" [hidden]="password.valid || password.pristine">
          密码不能为空！
        </div>
      </div>

      <div class="form-group">
        <label for="phoneNum">手机号码：</label>
        <input type="phone" class="form-control bg-light" id="phoneNum" placeholder="请输入手机号码"
               required
               [(ngModel)]="user.phoneNum" name="phoneNum" #phoneNum="ngModel">
        <div class="alert alert-danger" [hidden]="phoneNum.valid || phoneNum.pristine">
          手机号码不能为空！
        </div>
      </div>

      <div class="form-group">
        <label for="email">邮箱：</label>
        <input type="email" class="form-control bg-light" id="email" placeholder="请输入邮箱"
               required
               [(ngModel)]="user.email" name="email" #email="ngModel">
        <div class="alert alert-danger" [hidden]="email.valid || email.pristine">
          邮箱不能为空！
        </div>
      </div>

      <div class="form-group">
        <label for="nickname">昵称：</label>
        <input type="nickname" class="form-control bg-light" id="nickname" placeholder="请输入昵称"
               required
               [(ngModel)]="user.nickname" name="nickname" #nickname="ngModel">
        <div class="alert alert-danger" [hidden]="nickname.valid || nickname.pristine">
          昵称不能为空！
        </div>
      </div>

      <div class="form-group">
        <!--遍历枚举，默认选中第一个-->
        <ng-container *ngFor="let gender of Gender | enumConsts;first as isFirst">
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input"
                     required
                     [(ngModel)]="user.gender" name="gender" [value]="gender" [checked]="isFirst">
              {{gender | enumText:"Gender"}}
            </label>
          </div>
        </ng-container>
      </div>

      <div class="form-group">
        <!--遍历枚举，但不包括管理员，默认选中第一个-->
        <ng-container *ngFor="let role of Role | enumConsts;first as isFirst">
          <div class="form-check-inline" *ngIf="role!=Role.Admin">
            <label class="form-check-label">
              <input type="radio" class="form-check-input"
                     required
                     [(ngModel)]="user.role" name="role" [value]="role" [checked]="isFirst">
              {{role | enumText:"Role"}}
            </label>
          </div>
        </ng-container>
      </div>

      <div class="form-group">
        <!--遍历枚举，默认选中第一个-->
        <label for="profession">专业：</label>
        <select class="form-control" id="profession"
                required
                [(ngModel)]="user.profession" name="profession">
          <ng-container *ngFor="let profession of Profession | enumConsts;first as isFirst">
            <option [value]="profession" [selected]="isFirst">
              {{profession | enumText:"Profession"}}
            </option>
          </ng-container>
        </select>
      </div>

      <div class="form-group text-center mx-auto">
        <button type="submit" class="btn btn-primary" [disabled]="registerForm.form.invalid">注册</button>
        <a class="btn btn-secondary" routerLink="/login">登录</a>
      </div>
    </form>
  </div>
</div>
