<div class="container m-auto p-3 cp-content">
  <!--标题-->
  <div class="container m-auto p-2 text-center cp-title">
    <h1>专业特色介绍详情</h1>
  </div>

  <!--详情卡片-->
  <div class="container m-auto p-2 cp-data-detail">
    <div class="card m-auto p-1">
      <div class="card-body">
        <h2 class="card-title">
          {{introduce.title}}
        </h2>

        <p class="card-subtitle">
          <span class="text-secondary">#{{introduce.id}}&emsp;</span>
          <span class="text-secondary">作者：{{introduce.author}}&emsp;</span>
          <span class="text-secondary">发布时间：{{introduce.publishTime}}&emsp;</span>
          <span class="text-secondary">更新时间：{{introduce.updateTime}}&emsp;</span>
        </p>

        <article class="card-text">{{introduce.content}}</article>

        <!--当为管理员时才能编辑和删除-->
        <div class="card-link text-center mx-auto">
          <button class="btn btn-success" *ngIf="currentUser?.role=='ADMIN'">编辑</button>
          <button class="btn btn-info" (click)="goBack()">返回</button>
          <button class="btn btn-danger" (click)="delete()" *ngIf="currentUser?.role=='ADMIN'">删除</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--编辑数据模态框-->
<!--TODO （可以搁置）-->
