<div class="container mx-auto my-3 p-3 cp-content">
  <!--标题-->
  <div class="container mx-auto my-2 p-2 text-center w-75 cp-title">
    <h1>教学改革专栏详情</h1>
  </div>

  <!--详情卡片-->
  <div class="container mx-auto my-2 p-2 w-75 cp-data-detail">
    <div class="card mx-auto my-1 p-1">
      <div class="card-body">
        <h3 class="card-title">
          {{column.title}}
        </h3>

        <p class="card-subtitle">
          <span class="text-secondary">#{{column.id}}&emsp;</span>
          <span class="text-secondary">作者：{{column.author}}&emsp;</span>
          <span class="text-secondary">发布时间：{{column.publishTime | date:"yyyy-MM-dd hh:mm:ss"}}&emsp;</span>
          <span class="text-secondary">更新时间：{{column.updateTime | date:"yyyy-MM-dd hh:mm:ss"}}&emsp;</span>
        </p>

        <article class="card-text" [innerHTML]="column.content"></article>

        <!--当为管理员时才能编辑和删除-->
        <div class="card-link text-center mx-auto">
          <button class="btn btn-success" *ngIf="currentUser?.role=='ADMIN'">编辑</button>
          <button class="btn btn-info" (click)="goBack()">返回</button>
          <button class="btn btn-danger" (click)="delete()" *ngIf="currentUser?.role=='ADMIN'">删除</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--编辑数据模态框-->
<!--TODO （可以搁置）-->
