<!--我的账户页面，我的资料-->
<div class="container mx-auto my-3 p-3 cp-content" id="form">
  <!--标题-->
  <div class="container mx-auto my-2 p-2 text-center w-75 cp-subtitle">
    <h1>我的账户</h1>
  </div>

  <!--我的账户信息页面-->
  <div class="container mx-auto my-2 p-2 cp-information">
    <div class="row">
      <!--侧边栏-->
      <div class="col-3">
        <!--我的账户页面导航-->
        <div class="container mx-auto my-2 p-2 cp-information-nav">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" routerLink="./">我的资料</a>
            </li>
          </ul>
        </div>
      </div>

      <!--主要内容页面-->
      <div class="col-9">
        <!--我的账户页面标题-->
        <div class="container mx-auto my-2 p-2 text-center cp-information-title">
          <h2>我的资料</h2>
        </div>

        <!--更新资料表单-->
        <div class="container mx-auto my-2 p-2 bg-light cp-update-form">
          <form (ngSubmit)="updateAccountInfo()" #updateForm="ngForm" appUniqueUser>
            <div class="alert alert-danger" *ngIf="!isValidForUpdate">
              参数有误！
            </div>

            <div class="alert alert-danger"
                 *ngIf="updateForm.errors?.uniqueUser && (password.dirty || password.touched)">
              用户名 / 用户手机号码 / 用户邮箱已存在！
            </div>

            <div class="form-group">
              <label for="username">用户名：</label>
              <input type="text" class="form-control bg-light" id="username" readonly
                     [(ngModel)]="user.username" name="username">
            </div>

            <div class="form-group">
              <label for="password">密码：</label>
              <input type="password" class="form-control bg-light" id="password"
                     required pattern="\\w{6,16}"
                     [(ngModel)]="user.password" name="password" #password="ngModel">
            </div>

            <!--用于参数验证。包括异步参数验证在内。-->
            <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
              <div *ngIf="password.errors.required">密码不能为空！</div>
              <div *ngIf="password.errors.pattern">密码格式不正确！</div>
            </div>

            <div class="form-group">
              <label for="phoneNum">手机号码：</label>
              <input type="tel" class="form-control bg-light" id="phoneNum"
                     required
                     [(ngModel)]="user.phoneNum" name="phoneNum" #phoneNum="ngModel">
            </div>

            <div class="alert alert-danger" *ngIf="phoneNum.invalid && (phoneNum.dirty || phoneNum.touched)">
              <div *ngIf="phoneNum.errors.required">手机号码不能为空！</div>
            </div>

            <div class="form-group">
              <label for="email">邮箱：</label>
              <input type="email" class="form-control bg-light" id="email"
                     required
                     [(ngModel)]="user.email" name="email" #email="ngModel">
            </div>

            <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
              <div *ngIf="email.errors.required">邮箱不能为空！</div>
            </div>

            <div class="form-group">
              <label for="nickname">昵称：</label>
              <input type="text" class="form-control bg-light" id="nickname"
                     required maxlength="32"
                     [(ngModel)]="user.nickname" name="nickname" #nickname="ngModel">
            </div>

            <div class="alert alert-danger" *ngIf="nickname.invalid && (nickname.dirty || nickname.touched)">
              <div *ngIf="nickname.errors.required">昵称不能为空！</div>
              <div *ngIf="nickname.errors.maxlength">昵称格式不正确！</div>
            </div>

            <div class="form-group">
              <label for="gender">性别：</label>
              <div class="form-text" id="gender">{{user.gender | enumText:"Gender"}}</div>
            </div>

            <div class="form-group">
              <label for="role">身份：</label>
              <div class="form-text" id="role">{{user.role | enumText:"Role"}}</div>
            </div>

            <div class="form-group">
              <label for="profession">专业：</label>
              <div class="form-text" id="profession">{{user.profession | enumText:"Profession"}}</div>
            </div>

            <div class="form-group">
              <label for="registerTime">注册时间：</label>
              <div class="form-text" id="registerTime">{{user.registerTime | date:"yyyy-MM-dd hh:mm:ss"}}</div>
            </div>

            <div class="form-group text-center mx-auto">
              <button type="submit" class="btn btn-primary">更新资料</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
