<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="info-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>专业发展专栏</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="按标题搜索……" (ionInput)="search($event)"></ion-searchbar>

  <ng-container *ngFor="let column of currentPage.content">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          {{column.title}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-note>作者：{{column.author}}</ion-note>
          </ion-col>
          <ion-col>
            <ion-note>发布时间：{{column.publishTime | localeDate}}</ion-note>
          </ion-col>
          <ion-col>
            <ion-note>更新时间：{{column.updateTime | localeDate}}</ion-note>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>
              {{column.content | limitText}}
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center text-center>
          <ion-col size="4">
            <ion-button expand="block" color="primary" routerLink="/tabs/info/development-column/{{column.id}}">详情
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ion-row justify-content-center text-center>
    <ion-col size="3">
      <ion-button expand="block" (click)="goPreviousPage()" [disabled]="currentPage.first">上一页</ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button expand="block" (click)="goNextPage()" [disabled]="currentPage.last">下一页</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
